// footer====================================================================================================
.footer {
    @include adaptiveValue("padding-top", 50, 32);
    @include adaptiveValue("padding-bottom", 50, 32);

    // .footer__container
    &__container {
        @media (min-width: $mobileM) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        @media (max-width: $mobileM) {
            display: grid;
            grid-template-areas:
                "menu"
                "logo"
                "privacy";
            row-gap: rem(40);
            justify-items: center;
            text-align: center;
        }
    }

    // .footer__logo
    &__logo {
        @media (max-width: $mobileM) {
            grid-area: logo;
        }
    }

    // .footer__menu
    &__menu {
        @media (max-width: $mobileM) {
            grid-area: menu;
        }
    }

    // .footer__privacy
    &__privacy {
        @media (min-width: $mobileM) {
            display: none;
        }
        @media (max-width: $mobileM) {
            grid-area: privacy;
        }
    }
}
//====================================================================================================
